<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <!--
    1. 부트스트랩 CDN : 웹사이트의 부트스트랩 프레임워크 파일(CSS, JavaScript 등)을 전 세계적으로 분산된 서버(CDN)를 통해 제공하는 방식
     1_1. CDN : 콘텐츠 전송 네트워크(Content Delivery Network)
    2. integrity : 외부 스타일시트 파일이 CDN에서 로드될 때, 파일의 내용이 의도치 않게 변조되거나 손상되지 않았음을 보장하는 보안 기능
    3. 부트스트랩 CDN에 Integrity 해시값을 설정 : SRI(Subresource Integrity) 해시 생성기를 사용
    4. crossorigin : 브라우저가 외부 도메인(CDN)에서 리소스를 가져올 때 발생할 수 있는 보안 문제를 방지
    5. crossorigin과 integrity 차이 : crossorigin은 CDN에서 리소스를 가져올 때 다른 도메인 간의 보안 관련 요구사항을 정의
    / integrity는 다운로드된 파일이 변경되지 않았음을 확인하기 위한 암호화 해시 값
    => crossorigin은 리소스 요청을 허용할지 여부를 결정하고, integrity는 요청한 파일이 원본과 일치하는지를 검증하는 역할
    -->
    <title>홈페이지</title>
  </head>
  <body>
    <div class="container py-4">
      <header class="pb-3 mb-4 border-bottom">
        <a
          th:href="@{/home}"
          class="d-flex align-items-center text-body-emphasis text-decoration-none"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            fill="currentColor"
            class="bi bi-book-half me-2"
            viewBox="0 0 16 16"
          >
            <!--
                1. svg : *벡터 기반 그래픽을 정의하는 데 사용되는 XML 형식의 태그
                2. xmlns : <svg> 태그 내에서 XML 네임스페이스를 선언하는 속성으로 없으면 브라우저는 SVG 요소를 일반 HTML 요소로 취급하거나,
                 SVG 문법을 제대로 이해하지 못해 그래픽이 표시되지 않을 수 있다
                3. http://www.w3.org/2000/svg : SVG 표준을 위한 공식 네임스페이스 URI
                4. fill : 벡터 그래픽의 내부 영역을 채울 색상을 지정하는 데 사용
                5. currentColor : 해당 SVG 요소가 포함된 부모 요소나 현재 문서의 color 속성 값을 상속받아 적용하는 역할
                6. viewBox : SVG 요소의 내부 좌표계를 설정하고, 이를 SVG 컨테이너에 어떻게 맞출지 결정하는 속성,
                 <x> <y> <width> <height> 형식으로 구성
                -->
            <path
              d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"
            />
            <!--
                1. path : HTML에서 'path'는 **경로(Path)**를 의미하며, 웹의 절대 경로와 상대 경로
                 / SVG의 <path> 태그는 선과 곡선으로 복잡한 도형을 그리는 데 사용되는 '경로'를 의미
                2. d : 패스(경로) 데이터를 정의하는 데 사용되며, 도형을 그리는 일련의 명령과 좌표값으로 구성
                -->
          </svg>
          <span class="fs-4">BookMarket</span>
        </a>
      </header>
      <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">도서 소핑몰에 오신 것을 환영합니다</h1>
          <p class="col-md-8 fs-4">BookMarket</p>
        </div>
      </div>
      <div class="row align-items-md-stretch text-center">
        <div class="col-md-12">
          <h2>Welcome to Web Market!</h2>
          <br>
          <a th:href="@{/books}" class="btn btn-primary">도서목록 &raquo;</a>
        </div>
      </div>
      <footer class="pt-3 mt-4 text-body-secondary border-top">
        <span class="text-body-secondary">&copy; BookMarket</span>
      </footer>
    </div>
  </body>
</html>
